<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Worker data manage system</title>
        <style>
            p.outset {border-style: outset;}
        </style>
        <link rel="stylesheet" href="poms.css" />
    </head>
    <body>
        <h1>Worker Safety Induction System</h1>
        <a href="/">Home</a>
        <a href="/addworker">Add Induction Record</a>
        <a href="/getworkers">List All Records</a>
        <a href="/delworker">Delete Record</a>
        <a href="/updateworker">Update Record</a>
        <p class="outset"></p>
    </body>
</html>