<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Worker safety induction information system</title>
        <style>
            p.outset {border-style: outset;}
        </style>
        <link rel="stylesheet" href="poms.css" />
    </head>
    <body>
        <h1>Worker Safety Induction System</h1>
        <a href="/">Home</a>
        <a href="/addworker">Add Induction Record</a>
        <a href="/getworkers">List All Records</a>
        <a href="/delworker">Delete Record</a>
        <a href="/updateworker">Update Record</a>
        <p class="outset"></p>
        
        <h1>New Induction Record</h1>
        <form method="post" action="addworker">
            <table>
                <tr>
                    <td>RecordID</td>
                    <td><input type="number" name="RecordID"/></td>
                </tr>
                <tr>
                    <td>WorkerID</td>
                    <td><input type="number" name="WorkerID"/></td>
                </tr>
                <tr>
                    <td>InductionType</td>
                    <td><input type="text" name="InductionType"/></td>
                </tr>
                <tr>
                    <td>InductionDate</td>
                    <td><input type="text" name="InductionDate"/></td>
                </tr>
                <tr>
                    <td>InductionScore</td>
                    <td><input type="number" name="InductionScore"/></td>
                </tr>
                <tr>
                    <td><button type="submit">submit</button></td>
                </tr>
            </table>          
        </form>  
    </body>
</html>