<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Worker data manage system</title>
        <style>
            p.outset {border-style: outset;}
        </style>
        <link rel="stylesheet" href="poms.css" />
    </head>
    <body>
        <h1>Worker Information control system</h1>
        <a href="/">Home</a>
        <a href="/addworker">Add New Worker</a>
        <a href="/getworkers">List All Workers</a>
        <a href="/delworker">Delete Worker</a>
        <a href="/updateworker">Update Worker</a>
        <p class="outset"></p>
        
        <h2>Enter the WorkerID to delete Worker</h2>
        <form method="post" action="delworker">
            <table>
                <tr>
                    <td>ID</td>
                    <td><input type="number" name="WorkerID"/></td>
                    <td><button type="submit">Delete Worker</button></td>
                </tr>
            </table>          
        </form>  
    </body>
</html>