<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Worker data manage system</title>
        <style>
            p.outset {border-style: outset;}
        </style>
        <link rel="stylesheet" href="poms.css" />
    </head>
    <body>
        <h1>Worker Information control system</h1>
        <a href="/">Home</a>
        <a href="/addworker">Add New Worker</a>
        <a href="/getworkers">List All Workers</a>
        <a href="/delworker">Delete Worker</a>
        <a href="/updateworker">Update Worker</a>
        <p class="outset"></p>
        <h2 style="color: black; font-size: 24px; font-weight: bold;"><span style="color: rgb(70, 240, 4);">Welcome to Worker manage system </span></h2>
    </body>
</html>