body {
    background-image: url('2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    margin-right: 1cm; /*each button 1cm space*/
}

#parcels{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}