<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Record System</title>
        <style>
            p.outset {border-style: outset;}
        </style>
        <link rel="stylesheet" href="poms.css" />
    </head>
    <body>
        <h1>Record Information Control System</h1>
        <a href="/">Home</a>
        <a href="/addrecord">Add New Record</a>
        <a href="/getrecords">List All Records</a>
        <a href="/delrecord">Delete Record</a>
        <a href="/updaterecord">Update Record</a>
        <p class="outset"></p>
        
        <h1>New Record</h1>
        <h2>Enter the RecordID to delete Record</h2>
        <form method="post" action="delrecord">
            <table>
                <tr>
                    <td>ID</td>
                    <td><input type="number" name="RecordID"/></td>
                    <td><button type="submit">Delete Record</button></td>
                </tr>
            </table>          
        </form>  
    </body>
</html>