<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Record System</title>
        <style>
            p.outset {border-style: outset;}
        </style>
        <link rel="stylesheet" href="poms.css" />
    </head>
    <body>
        <h1>Record Information Control System</h1>
        <a href="/">Home</a>
        <a href="/addrecord">Add New Record</a>
        <a href="/getrecords">List All Records</a>
        <a href="/delrecord">Delete Record</a>
        <a href="/updaterecord">Update Record</a>
        <p class="outset"></p>
        
        <h1>Update Record Information</h1>
        <form method="post" action="updaterecord">
            <table>
                <tr>
                    <td>RecordID</td>
                    <td><input type="number" name="RecordID"/></td>
                </tr>
                <tr>
                    <td>WorkerID</td>
                    <td><input type="number" name="WorkerID"/></td>
                </tr>
                <tr>
                    <td>MedicalHistory</td>
                    <td><input type="text" name="MedicalHistory"/></td>
                </tr>
                <tr>
                    <td>CurrentMedications</td>
                    <td><input type="text" name="CurrentMedications"/></td>
                </tr>
                <tr>
                    <td>DiseaseTypes</td>
                    <td><input type="text" name="DiseaseTypes"/></td>
                </tr>
                <tr>
                    <td>RecordDate</td>
                    <td><input type="date" name="RecordDate"/></td>
                </tr>
                <tr>
                    <td><button type="submit">submit</button></td>
                </tr>
            </table>          
        </form>  
    </body>
</html>